.body{
    margin: 0;
    padding: 0;
    font:1em/2em sans-serf;
    background:#eee;
    color:#3d3d3d;
}
.t3d{
    width: 300px;
    height: 400px;
    margin: 50px auto;
}
.t3d:hover .rotate {transform: rotateY(180deg);
    
}
.rotate{position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.text{position: absolute;
    top: 0;
    left:0;
    backface-visibility: hidden;
}
.img{}
 .img. .text{border:4px double #ccc;
     width: 300px;
     height: 400px;
     background:#fff;
 }
.pd{padding: 20px}